

/* @font-face */ 

@font-face{
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}

@font-face{
    font-family: 'Audiowide', cursive;
    src: '../fonts/Audiowide-Regular.ttf';
}


